@charset "UTF-8";
/*Base*/
/*Paleta de colores */
/*TAMAÑOS DE FUENTES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Components*/
/*Footer inicio y galeria*/
.pie {
  background-color: black;
  margin-top: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
}

/*Footer Nirvana*/
.pie-nirvana {
  background-color: yellow;
  margin-top: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
}

/*Footer Deftones*/
.pie-deftones {
  background-color: black;
  margin-top: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
}

/*Footer Eminem*/
.pie-eminem {
  text-align: center;
  font-size: 50px;
  background-color: lightblue;
}

.instagram {
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.imgs-navbar {
  width: 100px;
  height: 100px;
}

/*Layouts*/
.blog-eminem {
  background-color: lightblue;
  border: solid black;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
}
.blog-eminem h2 {
  font-size: 50px;
  text-align: center;
  background-color: lightblue;
}
.blog-eminem h3 {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.blog-eminem div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-eminem div img {
  width: 150px;
  height: 150px;
  border: solid black 3px;
}
.blog-eminem div p {
  margin-top: 10px;
  background-color: rgb(132, 195, 216);
  border: solid white;
  font-size: 20px;
}

.conciertos-eminem {
  background-color: lightblue;
  border: solid black;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
.conciertos-eminem h3 {
  margin-top: 15px;
  color: black;
  text-align: center;
}
.conciertos-eminem p {
  color: black;
  text-align: center;
  font-size: 20px;
}
.conciertos-eminem img {
  height: 300px;
  width: 300px;
  margin-left: 450px;
  margin-bottom: 20px;
}

.pie-eminem {
  text-align: center;
  font-size: 50px;
  background-color: lightblue;
}

@media (max-width: 400px) {
  .imgs-navbar {
    height: 75px;
    width: 75px;
  }
  .blog-eminem {
    margin-left: 20px;
    margin-right: 20px;
  }
  .pie-eminem {
    margin-top: 100px;
  }
  .instagram {
    color: white;
  }
  p {
    margin: 5px 15px 5px 15px;
  }
}
.b1-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: aa;
}
.b1-nirvana .h1-nirvana {
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.b1-nirvana .h2-nirvana {
  font-size: 30px;
  margin: 10px 50px 10px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.b1-nirvana .h3-nirvana {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.b2-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ab;
}
.b2-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b3-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ac;
}
.b3-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.b4-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ad;
}
.b4-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.b5-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ae;
}
.b5-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.b6-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: af;
}
.b6-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.b7-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ag;
}
.b7-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.b8-nirvana {
  background-color: yellow;
  border: solid black;
  grid-area: ah;
}
.b8-nirvana img {
  width: 235px;
  height: 235px;
  margin: 5px 5px 5px 5px;
}

.grid-nirvana {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  justify-content: center;
  gap: 15px;
  grid-template-areas: "aa aa aa ab" "aa aa aa ac" "aa aa aa ad" "ah af ag ae";
}

.conciertos-nirvana {
  background-color: yellow;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
.conciertos-nirvana h3 {
  margin-top: 15px;
  color: black;
  text-align: center;
}
.conciertos-nirvana p {
  color: black;
  text-align: center;
  font-size: 20px;
}
.conciertos-nirvana img {
  height: 300px;
  width: 300px;
  margin-left: 450px;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .grid-nirvana {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    justify-content: center;
    gap: 15px;
    grid-template-areas: "aa aa aa ab" "aa aa aa ac" "aa aa aa ad" "ah af ag ae";
  }
  .b1-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: aa;
  }
  .b1-nirvana .h1-nirvana {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .b1-nirvana .h2-nirvana {
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .b1-nirvana .h3-nirvana {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  .b2-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ab;
  }
  .b2-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b3-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ac;
  }
  .b3-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b4-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ad;
  }
  .b4-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b5-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ae;
  }
  .b5-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b6-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: af;
  }
  .b6-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b7-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ag;
  }
  .b7-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b8-nirvana {
    background-color: yellow;
    border: solid black;
    grid-area: ah;
  }
  .b8-nirvana img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
}
.h1-inicio {
  margin-top: 150px;
  font-size: 30px;
  color: white;
  background-color: black;
  text-align: center;
}

.imgs-inicio {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}

.inicio-eminem {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  font-size: 15px;
  margin-top: 10px;
}

.inicio-deftones {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.inicio-nirvana {
  display: flex;
  justify-content: center;
  background-color: yellow;
  color: black;
  font-size: 15px;
  margin-top: 10px;
}

.pie {
  background-color: black;
  margin-top: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
}
.pie .instagram {
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

.instagram {
  font-size: 50px;
}

@media (max-width: 400px) {
  .h1-inicio {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
  }
  .imgs-inicio {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 200px;
    margin-left: 100px;
  }
  .imgs-navbar {
    width: 50px;
    height: 50px;
  }
}
.b1-deftones {
  background-color: black;
  border: solid black;
  grid-area: aa;
}
.b1-deftones .h1-deftones {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.b1-deftones .h2-deftones {
  color: white;
  font-size: 15px;
  margin: 10px 50px 10px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.b1-deftones .h3-deftones {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.b2-deftones {
  background-color: black;
  border: solid black;
  grid-area: ab;
}
.b2-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.b3-deftones {
  background-color: black;
  border: solid black;
  grid-area: ac;
}
.b3-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.b4-deftones {
  background-color: black;
  border: solid black;
  grid-area: ad;
}
.b4-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.b5-deftones {
  background-color: black;
  border: solid black;
  grid-area: ae;
}
.b5-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.b6-deftones {
  background-color: black;
  border: solid black;
  grid-area: af;
}
.b6-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.b7-deftones {
  background-color: black;
  border: solid black;
  grid-area: ag;
}
.b7-deftones img {
  width: 185px;
  height: 185px;
  margin: 5px 5px 5px 5px;
}

.grid-deftones {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 220px);
  justify-content: center;
  gap: 15px;
  grid-template-areas: "aa aa ab ac" "aa aa ad ae" "aa aa af ag";
}

.h2-deftones2 {
  background-color: black;
  color: white;
  margin-top: 10px;
  text-align: center;
  width: 200px;
  margin-left: 545px;
}

.fotos-deftones {
  margin-left: 530px;
}

.conciertos-deftones {
  background-color: black;
  margin-right: 50px;
  margin-left: 50px;
}
.conciertos-deftones h3 {
  color: white;
  text-align: center;
}
.conciertos-deftones p {
  color: white;
  text-align: center;
  font-size: 20px;
}
.conciertos-deftones img {
  margin-left: 450px;
  margin-bottom: 20px;
}

.pie-deftones {
  background-color: black;
  margin-top: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
}
.pie-deftones .instagram {
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .b1-deftones {
    background-color: black;
    border: solid black;
    grid-area: aa;
  }
  .b1-deftones .h1-deftones {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
  }
  .b1-deftones .h2-deftones {
    color: white;
    font-size: 7px;
    text-align: center;
    width: 80px;
    display: flex;
    justify-content: center;
  }
  .b1-deftones .h3-deftones {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: white;
  }
  .b2-deftones {
    background-color: black;
    border: solid black;
    grid-area: ab;
  }
  .b2-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b3-deftones {
    background-color: black;
    border: solid black;
    grid-area: ac;
  }
  .b3-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b4-deftones {
    background-color: black;
    border: solid black;
    grid-area: ad;
  }
  .b4-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b5-deftones {
    background-color: black;
    border: solid black;
    grid-area: ae;
  }
  .b5-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b6-deftones {
    background-color: black;
    border: solid black;
    grid-area: af;
  }
  .b6-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .b7-deftones {
    background-color: black;
    border: solid black;
    grid-area: ag;
  }
  .b7-deftones img {
    width: 65px;
    height: 65px;
    margin: 5px 5px 5px 5px;
  }
  .grid-deftones {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(4, 80px);
    justify-content: center;
    gap: 10px;
    grid-template-areas: "aa aa ab ac" "aa aa ad ae" "aa aa af ag";
  }
  .h2-deftones2 {
    background-color: black;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    margin-left: 80px;
  }
  .fotos-deftones {
    margin-left: 70px;
  }
}
.body-galeria {
  background-image: url(../imgs/nirvana-fondo.webp);
}

.box {
  height: 100%;
  width: 100%;
  position: relative;
  border: solid white;
}

.box img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.b1 {
  background-color: red;
  grid-area: a1;
}

.b2 {
  background-color: blue;
  grid-area: a2;
}

.b3 {
  background-color: yellow;
  grid-area: a3;
}

.b4 {
  background-color: green;
  grid-area: a4;
}

.b5 {
  background-color: blueviolet;
  grid-area: a5;
}

.b6 {
  background-color: chocolate;
  grid-area: a6;
}

.grid {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  justify-content: center;
  gap: 15px;
  grid-template-areas: "a6 a6 a3" "a4 a2 a2 " "a1 a1 a5";
}

@media (max-width: 400px) {
  .box {
    height: 100%;
    width: 100%;
    position: relative;
    border: solid white;
  }
  .box img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .b1 {
    background-color: red;
    grid-area: a1;
  }
  .b2 {
    background-color: blue;
    grid-area: a2;
  }
  .b3 {
    background-color: yellow;
    grid-area: a3;
  }
  .b4 {
    background-color: green;
    grid-area: a4;
  }
  .b5 {
    background-color: blueviolet;
    grid-area: a5;
  }
  .b6 {
    background-color: chocolate;
    grid-area: a6;
  }
  .grid {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    justify-content: center;
    gap: 15px;
    grid-template-areas: "a6 a6 a3" "a4 a2 a2 " "a1 a1 a5";
  }
}

/*# sourceMappingURL=styles.css.map */
