.b1-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: aa;

    .h1-deftones {
        font-size: $fuente-media;
        margin-top: 30px;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
    }

    .h2-deftones {
        color: white;
        font-size: $fuente-chica;
        margin: 10px 50px 10px 50px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .h3-deftones {
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: $fuente-media;
        color: white;
    }
}

.b2-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: ab;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
        @include centrar
    }
}

.b3-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: ac;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
    }
}

.b4-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: ad;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
    }
}

.b5-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: ae;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
    }
}

.b6-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: af;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
    }
}

.b7-deftones {
    background-color: $color-deftones ;
    border: solid black;
    grid-area: ag;

    img {
        width: 185px;
        height: 185px;
        margin: 5px 5px 5px 5px;
    }
}

.grid-deftones {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 220px);
    justify-content: center;
    gap: 15px;
    grid-template-areas:
        'aa aa ab ac'
        'aa aa ad ae'
        'aa aa af ag';
}

.h2-deftones2 {
    background-color: black;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    margin-left: 545px;
}

.fotos-deftones {
    margin-left: 530px;
}

.pie-deftones {
    background-color: $color-deftones;
    margin-top: 50px;
    height: 75px;
    display: flex;
    justify-content: center;

    .instagram {
        font-size: 50px;
        margin: 10px 10px 10px 10px;
        display: flex;
        justify-content: center;
    }
}






@media (min-width: 400px) {
    .b1-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: aa;

        .h1-deftones {
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            color: white;
            display: flex;
            justify-content: center;
        }

        .h2-deftones {
            color: white;
            font-size: 7px;
            text-align: center;
            width: 80px;
            display: flex;
            justify-content: center;
        }

        .h3-deftones {
            margin-top: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 10px;
            color: white;
        }
    }

    .b2-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: ab;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
            @include centrar
        }
    }

    .b3-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: ac;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
        }
    }

    .b4-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: ad;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
        }
    }

    .b5-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: ae;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
        }
    }

    .b6-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: af;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
        }
    }

    .b7-deftones {
        background-color: $color-deftones ;
        border: solid black;
        grid-area: ag;

        img {
            width: 65px;
            height: 65px;
            margin: 5px 5px 5px 5px;
        }
    }


    .grid-deftones {
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(4, 80px);
        justify-content: center;
        gap: 15px;
        grid-template-areas:
            'aa aa ab ac'
            'aa aa ad ae'
            'aa aa af ag';
    }

    .h2-deftones2 {
        background-color: black;
        color: white;
        margin-top: 10px;
        text-align: center;
        width: 200px;
        margin-left: 80px;
    }

    .fotos-deftones {
        margin-left: 70px;
    }
}